body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    top: 0;
    margin: 0;
    height: 5%;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    background-color: #444143;
    border: 2px solid #000000;
    position: absolute;
    z-index: 2;
}

#toolbar {
    height: 95%;
    top: 5%;
    background-color: #444143;
    position: absolute;
    border: 2px solid #000000;
    z-index: 1;
}

#toolbar button {
    width: 70px;
    height: 50px;
    display: block;
    border-radius: 8px;
    border: solid 1px black;
}

#trash {
    top: 93%;
    left: 2px;
    width: 70px;
    height: 50px;
    z-index: 3;
    position: absolute;
    border-radius: 8px;
    border: solid 1px black;
}

.btn2:hover {
    background-color: grey;
    color: white;
}

#toolbar input {
    width: 64px;
}

.active, .btn:hover {
    background-color: grey;
    color: white;
}


#svgCanvas {
    background-color: #eeeeee;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    position: absolute;
    cursor: crosshair;
    z-index: 0;
}

svg rect {
    fill: white;
    stroke: black;
}

svg ellipse {
    fill: white;
    stroke: black;
}

svg line {
    stroke-width: 2;
    stroke: black;
}

svg text {
    fill: black;
}

svg polygon {
    fill: white;
    stroke: black;
}

svg polyline {
    fill: transparent;
    stroke-opacity: 0.5;
    stroke-dasharray: 3,3;
    stroke: black;;
}

svg #selectedRectArea, #selectedEllipseArea, #selectedLineArea, #selectedTextArea, #selectedPolygonArea {
    fill: transparent;
    stroke-opacity: 0.5;
    stroke-dasharray: 3,3;
    stroke: black;
    display: none;
}

svg .selected {
    stroke-width: 2px;
    stroke: red;
    fill: lightgrey;
}

